# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ruff_cache
.benchmarks

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
eval/datasets/

# IDEs
.vscode/
.idea/
.qoder/
*.swp
*.swo
*~
.DS_Store
*.iml

# Environment variables
.env
.env.local
.env.*.local
*.env

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Logs
*.log
logs/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# OS
.DS_Store
Thumbs.db

#Gemini Files
conductor/
.gemini/
.agents/
*GEMINI.md
*.geminiignore

# Project specific
misc/
.claude/
*CLAUDE.md
*AGENT.md
*.json

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/